<div class="form-container">
    <h2>Azuriranje profila</h2>
  
    
    <label>Ime:</label>
    <input type="text" [(ngModel)] = "ime">
  
    <label>Prezime:</label>
    <input type="text" [(ngModel)]="prezime">
  
    <label>Adresa:</label>
    <input type="text" [(ngModel)]="adresa">
  
    <label>Email:</label>
    <input type="email" [(ngModel)]="email">
  
    <label>Broj telefona:</label>
    <input type="tel" [(ngModel)]="telefon">
  
    <label>Trenutni razred:</label>
    <input type="checkbox" [(ngModel)]="razred">
    <div *ngIf = "razred == true && srednja == true" class="checkbox-container">
        Srednja-gimnazija: <input type="checkbox" [(ngModel)]="srednjagimnazija">
        Srednja-strucna: <input type="checkbox" [(ngModel)]="srednjastrucna">
        Srednja-umetnicka: <input type="checkbox" [(ngModel)]="srednjaumetnicka">
    </div>


    <label>Profilna slika:</label>
    <input type="file" (change)="onFileSelected($event)" accept="image/*" required>
    <button (click)="updateProfile()">Sacuvaj promene</button>
    {{message}}
    
  </div>